@model IEnumerable<MyWebsite.Models.PageVM>
@{
    ViewData["Title"] = "Privacy Policy";

    var oPrivacyPolicy = Model.Where(x => x.Slug == "privacy_policy").FirstOrDefault() == null ? new PageVM() : Model.Where(x => x.Slug == "privacy_policy").First();
    var privacyPolicy = oPrivacyPolicy.ListPageContent.Where(x => x.SlugPageContent == "privacy_policy").FirstOrDefault() == null ? new MyWebsite.Models.PageContentVM() :
                        oPrivacyPolicy.ListPageContent.Where(x => x.SlugPageContent == "privacy_policy").First();
    var listPrivacyPolicy = oPrivacyPolicy.ListPageContent.Where(x => x.SlugPageContent == "privacy_policies" && x.IsActive == true).ToList();
}

<!-- Privacy Policy Start -->
<div class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.4s">
                <div class="section-title text-start mb-5">
                    <h4 class="sub-title pe-3 mb-0">Privacy Policy</h4>
                    <h1 class="display-3 mb-2">@privacyPolicy.Title</h1>
                    <p class="mb-2" style="text-align: justify;text-justify: inter-word;">@Html.Raw(privacyPolicy.Header)</p>
                    <p class="mb-2" style="text-align: justify;text-justify: inter-word;">@Html.Raw(privacyPolicy.Body)</p>
                    <p class="mb-2" style="text-align: justify;text-justify: inter-word;">@Html.Raw(privacyPolicy.Footer)</p>
                    <div class="mb-4">
                        @foreach (var item in listPrivacyPolicy)
                        {
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> @item.Title</p>
                        }
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary rounded-pill text-white py-3 px-5">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Privacy Policy End -->
