@model IEnumerable<MyWebsite.Models.PageVM>
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var oService = Model.Where(x => x.Slug == "services").FirstOrDefault() == null ? new PageVM() : Model.Where(x => x.Slug == "services").First();
    var ourService = oService.ListPageContent.Where(x => x.SlugPageContent == "our_services").FirstOrDefault() == null ? new MyWebsite.Models.PageContentVM() :
                        oService.ListPageContent.Where(x => x.SlugPageContent == "our_services").First();
    var listService = oService.ListPageContent.Where(x => x.SlugPageContent == "services").ToList();

}

<!-- Services Start -->
<div class="container-fluid service bg-light py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">What We Do</h4>
            </div>
            <h1 class="display-3 mb-4">@ourService.Title</h1>
            <p class="mb-0">
                @ourService.Body
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            @for (var i = 0; i < listService.Count; i++)
            {
                if (i < 8)
                {
                    string header = string.IsNullOrEmpty(listService[i].Header) == true ? "" : Convert.ToString(listService[i].Header);
                    header = header.Length > 100 ? header.ToString().Substring(0, 100) : header.ToString().Substring(0, header.Length);
                    var delay = i * 0.1;
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="@delay.ToString()s">
                        <div class="service-item rounded">
                            <div class="service-img rounded-top">
                                <img src="@listService[i].FilePath" class="img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">@Html.Raw(listService[i].Title)</h5>
                                    <p class="mb-4">@Html.Raw(header)</p>
                                    <a href="/Home/Service/@listService[i].PageContentId" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="javascript:void(0)">Services More</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

