@model IEnumerable<MyWebsite.Models.UserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var status = item.IsActive == true ? "Active" : "Inactive";
            var statusCSS = item.IsActive == true ? "badge text-bg-success" : "badge text-bg-danger";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.RoleName
                </td>
                <td>
                    <span class="@statusCSS">@status</span>
                </td>
            <td>
                @Html.ActionLink("Status", "Edit", new { id = item.UserID, queryType = MyWebsite.Models.UserVM.QueryType.Update }) |
                @Html.ActionLink("Email", "Edit", new { id = item.UserID, queryType = MyWebsite.Models.UserVM.QueryType.UpdateEmail }) |
                @Html.ActionLink("Username", "Edit", new { id = item.UserID, queryType = MyWebsite.Models.UserVM.QueryType.UpdateUsername }) |
                @Html.ActionLink("Password", "Edit", new { id = item.UserID, queryType = MyWebsite.Models.UserVM.QueryType.UpdatePassword })
            </td>
        </tr>
}
    </tbody>
</table>
